<h1>New List</h1>

<%= forms_with model: @list, local: do |form| %>
  <div class="card">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="btn btn-info">
    <%= form.submit "Create List" %>
  </div>
<% end %>
<%= link_to "Back to Lists", lists_path %>
