<h1>Add a Movie</h1>
<%= @list.name %>
<%= simple_form_for [@list, @bookmark] do |form| %>
    <%= form.association :movie, prompt: "Select a movie", input_html: {data: {controller: "tom-select"}} %>
    <%= form.text_area :comment %>
    <%= form.button :submit %>
<% end %>

<%= link_to 'Back to List', list_path(@list) %>
